.Homepage .lander {
    font-family: "Open Sans", serif;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.Homepage .lander h1 {
    font-weight: bold;
}

.Homepage .lander p {
    font-weight: lighter;
}